@charset "utf-8";
$login-placeholder-color:#cacaca;
$login-input-width:84.5%;
$login-input-height:45px;
$login-input-color:white;
$login-input-backgroundcolor:transparent;
$login-input-bordercolor:white;
$login-input-bordercolor-focus:rgba(74, 204, 163, .75);


@mixin login-focus-boxshadow($boxshadow) {
     -webkit-transition: $boxshadow;
      -moz-transition: $boxshadow;
          transition: $boxshadow;
}

@mixin login-focus-transition($transition1,$transition2) {
     -webkit-transition: $transition1,$transition2;
      -moz-transition: $transition1,$transition2;
          transition: $transition1,$transition2;
}

@mixin login-focus-boxshadow-focus($boxshadow) {
     -webkit-transition: $boxshadow;
      -moz-transition: $boxshadow;
          transition: $boxshadow;
}

$checkbox-backgroundcolor:transparent;
$checkbox-color:white;
$checkbox-border:1px solid white;

$input-text-height:28px;


$placeholder-color:#858585;

$font-stack:    'Microsoft YaHei';
$little-font-size:12px;
$normal-font-size: 14px;
$form-title-font-size:16px;
$level1-title-font-size:18px;
$special-font-size:24px;

$light-icon-color:#454545;
$light-icon-color-hover:white;
$light-icon-color-selected:#4475cf;
$light-icon-color-disable:#cccccc;
$light-icon-background:transparent;
$light-icon-background-hover:rgba(0,0,0,0.2);


html{
	height:100%;
}
body {
  line-height:22px;
  font-family:$font-stack;
  font-size:$normal-font-size;
  overflow-y:hidden;
  user-select:none;
  margin:0;
  padding:0;
}
