.header{
  height:80px;
  background-image: url('../../assets/images/logo.png');
  background-repeat: no-repeat;
  background-position: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
}
