$nav_background_color:#D8D8D8;
$nav_item_active_background_color:#E8E8E8;
$nav_item_font_size:20px;
$font-color:#5E5E5E;

.nav{
  background-color: $nav_background_color;
  width:100%;
  height:100%;
  font-size: $nav_item_font_size;
  padding-top: 25px;
  text-align: center;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 2px;
  color:$font-color;
  .nav_item{
    height:60px;
    cursor: pointer;
  }
  .nav_item.active{
    background-color:$nav_item_active_background_color;
    cursor: text;
  }
}
