<div>
  <div style="padding: 20px;padding-top: 10px;">
    <p-dataTable [value]="showList">
      <p-column field="name" header="名称"></p-column>
      <p-column field="phoneNumber" header="电话"></p-column>
      <p-column field="accountName" header="账号"></p-column>
      <p-column field="status" header="状态"></p-column>
    </p-dataTable>
  </div>
  <div style="position: absolute;bottom: 25px;width: 100%;height: 50px;border-top: 1px solid #757575;">
    <p-paginator rows="{{pageSize}}" totalRecords="{{total}}"></p-paginator>
  </div>
</div>
