<form ngNativeValidate (ngSubmit)="onSubmit()" #userForm="ngForm" enctype="multipart/form-data" style="margin-left:25px;margin-right:25px;">
  <div class="form-row">
    <label class="form-label">姓 名：</label><input class="form-input hvr-underline-from-left" name="userName" [(ngModel)]="userinfo.userName"  required/>
  </div>
  <div class="form-row">
    <label class="form-label">手 机：</label><input class="form-input" name="phoneNumber" [(ngModel)]="userinfo.phoneNumber" required/>
  </div>
  <div class="form-row">
    <label class="form-label">邮 箱：</label><input class="form-input" name="passWord" [(ngModel)]="userinfo.passWord" required
           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$"/>
  </div>
  <div class="form-row">
    <label class="form-label">其他资料：</label>
    <br/>
    <textarea class="form-textarea"></textarea>
  </div>
  <div class="form-row">
    <p-checkbox [(ngModel)]="userinfo.isSeller" name="isSeller" binary="true" label="经销商"></p-checkbox>
    <p-checkbox [(ngModel)]="userinfo.isBoss" name="isBoss" binary="true" label="老板"></p-checkbox>
    <label [hidden]="userinfo.isSeller || userinfo.isBoss" style="color:red;margin-left:10px;">必须选择一种角色</label>
  </div>
  <div class="form-row">
    <div style="float: right;position: relative;left: 5px;">
      <button class="form-button hvr-glow" type="submit">创 建</button>
      <button class="form-button hvr-glow" type="button">保 存</button>
    </div>
  </div>
</form>

<p-confirmDialog #cd header="确认" icon="fa fa-question-circle" width="425">
  <p-footer>
    <button type="button" class="ui-button-secondary" pButton label="取 消" (click)="cd.reject()"></button>
    <button type="button" class="ui-button-success" pButton label="确 定" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
